.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 7vh;
    border-radius: 20px;
    background-image: url('../../../public/rickandmorty\(24\).png');
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(114, 123, 247, 0.5);
    overflow: hidden;
  }
  
  .cardImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  
  .cardImage img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 255, 0.2);
    transition: all 0.3s ease; /* Agrega una transición suave al hover */
  }
  
  .cardImage:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse por encima */
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5); /* Cambia el color y la intensidad de la sombra */
  }
  
  .cardInfo {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem;
  }
  
  .cardInfo h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.3); /* Agregar una sombra con un borde claro */
  }
  
  .cardInfo p {
    color: #ffffff; 
    position: relative;
    font-family: "Futura", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.5);
    }
    
    
  
  .cardInfoLabel {
    position: relative;
    left: -80px;
    font-size: 2.5rem;
    font-style: italic;
  }