.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  input {
    width: 60%;
    margin-top: 13px;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  input::placeholder{
    font-size: 15px;
    color: #0c0c0c;
  }