nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
    padding: 0 50px;
    margin-bottom: 20px;
    background-color: #1d1d1d;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #8cd3ff;
  }
  
  .btnLogout:hover {
    background-color: #fff;
    color: #ff0707;
    cursor: pointer;
  }

  .btnLogout{
    color: white;
    background-color: #fd6161d8;
    margin-bottom: 10px;
  }

  nav button {
    margin-top: 13px;
    background-color: #8cd3ff;
    border: none;
    color: #1d1d1d;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }
  
  nav button:hover {
    background-color: #fff;
    color: #8cd3ff;
    cursor: pointer;
  }
  
  .btnGit{
    margin-top: 9px;
  }